:root {
  --blue-primary: #1D9BF0;
  --background-primary: #111;
  --color-: #333533;
  --color-primary:#FFF;
  --color-secondary:#d6d6d6;
  --color-light:#ffee32;
  --color-medium:#ffd100;
  --color-white:#FFF;
  
}
/* Message */
  .message {
    padding: 1rem;
    color: var(--color-);
    background-color: var(--color-light);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    text-align: center;
    max-width: 60%;
    margin: 2rem auto 2rem;
  }
  
  


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color:var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
}

h1 {
  color: #FFF;
  margin-top: 2rem;
  margin-left: 1rem;
}
.header {
  background: var(--background-primary);
  
  color: #FFF;
  border-bottom: 1px solid var(--color-secondary);

}

#logo {
  font-size: 2.5rem;
}
.login {
  background-color: var(--color-medium);
 
}
#login {
  color: #222;
  border-radius: 7px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}
.header a {
  color: #FFF;
  font-size:1.125rem;
}
.container-header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

ul {
  display: flex;
  gap: 2rem;
}

.login {
  border: 1px solid var(--color-secondary);
  padding: 5px 10px;


}


.container-body {
  height: 100vh;
  padding: 10px 20px;
  max-width: 960px;
  margin: 0 auto;
}
.footer  {
  display: flex;
  justify-content: center;
  color: #fff;
  height: 150px;
  border-top: 1px solid #ddd;
  align-items: center;
  font-size: 2rem;
  background: var(--background-primary);
}

/* Login e Register */

.auth-container {
  max-width: 500px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 3rem;
  color: #fff;
  border-left: 4px solid var(--color-medium);
  padding: .3rem;
  width: 200px;
  
}

.auth-container a {
  color: var(--color-medium);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.form-control input, .form-control text-area {
  border-radius: 4px;
  border:1px solid var(--color-medium)  ;
  padding:.7rem;
}
form input[type='submit'],
.btn {
  background-color: transparent;
  color: var(--color-medium);
  border: 2px solid var(--color-light);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: .5rem 1.2rem;
  margin: 1rem 0;
  text-decoration: none;
  font-size: 1.5rem;
  transition: .5s;
}

form input[type='submit']:hover,
.btn:hover {
  background-color: var(--color-medium);
  color: var(--color-white);
}


/* PEnsamento FORM */

.tought-form-container {
  color: var(--color-light);
  max-width: 960px;
  margin: 0 auto;
}

.tought-form-container:hover {
  color: var(--color-white);
}

.tought-form-container h1 {
  margin-bottom: 4rem;
  color: #FFF;
  border-left: 4px solid var(--color-light);
  padding: 0.4rem;
}

.tought-form-container input {
  margin-bottom: 1rem;
}


.dashboard {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 5px;
}

.dashboard h3 {
  font-size: 1.75rem;
  margin: 2rem 1rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 20px ;
}

.title-container h2 {
  border-left: 4px solid var(--color-light);
  padding:10px;
}

.dashboard ul {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard li {
  margin-top: 1.5rem;
  margin-left: 1rem;
  border-bottom: 2px solid var(--color-light);
  flex: 1 1 500px;
  align-items: center;
  display: flex;
  font-size: 1.35rem;
  color: var(--color-medium);
  justify-content: space-between;
}
.dashboard .actions {
  display: flex;
  gap: 10px;
}
.dashboard .actions .btn {
  color: var(--color-white);
}